<% include ./Partials/header.ejs%>
  <div class="h-screen w-full bg-zinc-300 flex items-center justify-center bg-cover bg-center">
    <div class="w-[25vw]  bg-white px-20 py-10 rounded-[30px]">
      <h1 class="text-3xl text-center tracking-tighter capitalize leading-none ">Welcome To pintrest</h1>
      <form action="">
        <input class="block border-2 rounded-md  mt-2  w-full px-3 py-2 " type="text" name="usernmae"
          placeholder="username">
        <input class="block border-2 rounded-md  mt-2  w-full px-3 py-2 " type="password" name="password"
          placeholder="password">
        <a class="inline-block font-semibold text-zinc-500 mt-2" href="#">Forgot password</a>
        <input class="block border-2 rounded-full  mt-2  w-full px-3 py-2 bg-red-600 text-white rounded-full "
          type="submit" value="Log in" name="" id="">
        <p class="text-xs font-semibold text-zinc-700 text-center mt-7 ">By continuing, you agree to Pinterest's Terms of Service; Opens a new tab and acknowledge you've read our
          Privacy Policy</p>
      </form>
      <a href="/register" class="inline-block mt-7 text-sm text-zinc-700 text-center font-semibold">Dont have an Accound ?</a>
    </div>
  </div>
  <% include ./Partials/footer.ejs%>