<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
  <div class="container">
    <div class="content">
      <!--pinterest logo-->
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo"
        class="img1" />
      <p class="header">Make Accout To See More</p>

      <input type="email" name="email" placeholder="Email" class="detail" /><br />
      <input type="text" name="name" placeholder="name" class="detail" /><br />
      <input type="text" name="fullname" placeholder="Fullname" class="detail" /><br />
      <input type="password" name="password" placeholder="Password" class="detail" />

      <h4>Forgot your password?</h4>

      <button class="btn int">Log in</button>
      <p class="or">OR</p>
      <button class="btn fbk">
        <i class="fab fa-facebook fa-lg" style="color: white; padding-right: 10px"></i><a href="#">Continue with
          Facebook</a></button><br />
      <button class="btn ggl">
        <i class="fab fa-google" style="color: rgb(11, 241, 22); padding-right: 10px"></i><a href="#">Continue with
          Google</a>
      </button>
      it
    </div>
  </div>
  <a href="" class="upbtn">Sign up</a href="">


</body>

</html>